/* =============== Main Image =============== */

.MainImageContainer {
  width: 100%;
  margin-bottom: 0px;
  height: 100vh;
  display: table-cell;
  padding: 40px;
  vertical-align: middle;
  position: relative;
  /* border: 1px solid #000000; */
}


 
.MainImageBox {
  width: 100vh;
  height: 75vh;
  margin: 0 auto;
}

.MainImageBox img {
  border-radius: 16px;
}

.BackButton {
  position: absolute;
  top: 50%;
  left: 5%;
  /* border: 1px solid #000000; */
}

.FowardButton {
  position: absolute;
  top: 50%;
  right: 5%;
  /* border: 1px solid #000000; */
}


.FowardButton button, .BackButton button {
  border: 0;
  cursor: pointer;
  background: none;
  z-index: 999;
}

.FowardButton button:focus, .BackButton button:focus {
  outline:0;
}

.FowardButton button svg, .BackButton button svg {
  height: 24px; 
  width: 24px; 
  fill: #484848;
}

/* =============== Slider Images  =============== */

.AsideContainer {
  padding-top: 104px;
  display: table-cell;
  vertical-align: top;
  width: 264px;
  min-width: 264px;
}

/* =============== Slider Container  =============== */
.SlideImageContainer {
  width: 212px;
  height: 48px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  /* border: 1px solid green; */
}

/* == Image Slider (translate is applied to this element) == */
.ImageSlider {
  display: flex;
  width: 60px;
  height: 48px;
  transition: -ms-transform 0.3s ease-out 0s,
              -webkit-transform 0.3s ease-out 0s, 
              transform 0.3s ease-out 0s;
}

.ImageSlider img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
}

.ImageSlider img:hover{
  opacity: 1.0;
}


/* =============== Each image withinin Slider  =============== */
.ThumbnailImage {
  display: inline-block;
  padding: 0px 6px;
}

.LessOpaque {
  opacity: 0.5;
}

.BorderFrame {
  border: 2px solid #484848;
}


.DescriptionBox {
  padding-right: 40px;
  font-size: 16px;
  color: #484848;
  font-weight: 400;
}




@media only screen and (max-width: 1127px) {

  .MainImageContainer {
    height: 65vh;
    width: 100vw;
  }

  .MainImageBox {
    width: 85vh;
    height: 55vh;
  }

  .AsideContainer {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    display: block;
  }

  .SlideImageContainer {
    margin: 20px auto;
    width: 412px;
  }
}

@media only screen and (max-width: 743px) {

  .MainImageContainer {
    display: table;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .MainImageBox {
    /* width: auto;
    height: auto; */
    width: 70%;
    height: auto;
  }

  .AsideContainer {
    display: none;
  }

  .BackButton {
    left: 3%;
  }

  .FowardButton {
    right: 3%;
  }

  .FowardButton button svg, .BackButton button svg {
    /* fill: #ffffff; */
  }
}

